spring:
  application:
    name: pops-srv-projects
  config:
    import: optional:file:./config/values.yml

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
    defer-datasource-initialization: false

  sql:
    init:
      mode: never

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

firebase:
  service-account-path: ${FIREBASE_KEY_PATH}

pops-srv-squad:
  url: ${POPS_SRV_SQUAD_URL:http://localhost:8083/api-squad}

pops-srv-employee:
  url: ${POPS_SRV_EMPLOYEE_URL:http://localhost:8081/api-employee}